<!doctype html>
<style type = "text/css">
.container{
	position:relative; padding:0 0 0 55px;
}
#content { 
	border:1px solid #000; 
	width:100px; 
	height:50px;
    margin:5px 0 5px 0;
}

#logo-svg{
	width:20px;
	height: 25px;
}
</style>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ParkFinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	
      <div class="navbar header">
		<a class="navbar-brand" href="#" ParkFinder>
			<img alt="logo-svg" src="/images/ArrowheadLogo.jpg" style= "height: 2em;z-index: 100; position:relative; top:10px">
			<h3 class="logo-text" style= "color: white; display: inline; margin-left: .5em;z-index: 100; position:relative; top:10px">ParkFinder</h3>
		</a>
	        <nav class="navbar navbar-default navbar-map" role="navigation">
	          <div class="container-fluid">
	            <div class="navbar-header">
	
	             <b></b>
	              </div>
	              <div>
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="/">Home</a></li>
				        <li><a href="about">About</a></li>
				      </ul>
				    </div>
	
	
	            </div>
	        </nav>
     </div>
        

    
    <div class = "container">
	    <div class = "content">
	    	<h1>About us</h1>
	    	<p>We are a group of 5 Baylor students in the School of Engineering and Computer Science and we call ourselves ArrowHead.
	    		ParkFinder is the result of many hours of hard work for Dr. Song's Software Engineering II course. </p>
	    </div>
    </div>
    

    
    <div class="footer">
      <div class="container-fluid">
        Built with love from the Credera team AND Clarissa, Kristen, Jonathan, Will, and Felix
      </div>
    </div>

    <!-- build:js scripts/main.js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
</body>
</html>
