<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js">
  <head>
  <head>
    <meta charset="utf-8">
    <title>VacationFinder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->

  </head>
  
  <!DOCTYPE html>
<html lang="en">




  
  <body style="height:1500px">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="promo">
      <div class="promo-mask">

        <nav class="navbar navbar-default navbar-static-top navbar-home" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">ParkFinder</a>
              </div>
              <div>
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="index.html">Home</a></li>
			        <li><a href="search.html">Find a Park</a></li>
			        <li><a href="map.html">About</a></li>
			      </ul>
			    </div>

              </a>
            </div>
          </div>
        </nav>

        <div class="promo-content">
          <div class="promo-headline">
            Do Something You'll Never Forget
          </div>
          <div class="promo-subhead">
            Find Vacation Spots in Cities You'll Love
          </div>
        </div>
      </div>
    </div>

    <div class="housing-form-container container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2 class="text-center">
            Start Here
          </h2>
          <p class="text-center housing-form-summary">
            Let's find a destination that best matches you.
          </p>
          <form action="/search">
            <div class="form-group">
            <label for="">
              Location
            </label>
            <input type="text" name="locationName" class="form-control" placeholder="Country, City..." />
            </div>
            <div class="form-group">
              <label>Maximum Distance From Location</label>
              <input id="toggleMaxDistance" type="checkbox">
              <div id="maxDistanceContainer" hidden=true>
                <input type="number" name="maxDistance" class="form-control" min="0" max="2000" step="5" value="0">
              </div>
            </div>
            <div class="form-group">
              <label>Terrain Type</label>
              <input id="toggleTerrainType" type="checkbox">
              <div id="terrainTypeContainer" hidden=true>
                <input type="radio" name="terrainType" class="form-control" value="NoPreference" checked>No Preference
                <input type="radio" name="terrainType" class="form-control">
                <input type="radio" name="terrainType" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>Size of Park</label>
              <input id="toggleMaxDistance" type="checkbox">
              <div id="maxDistanceContainer" hidden=true>
                <input type="number" name="maxDistance" id="maxDistance" class="form-control" min="0" max="2000" step="5" value="0">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container-fluid">
        Built with love from the Credera team
      </div>
    </div>

    <!-- build:js scripts/main.js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
</body>
</html>
