<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ParkFinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-static-top navbar-map" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index.html">
            <img class="logo-svg" src="/images/ArrowheadLogo.jpg">
            <h3 class="logo-text">ParkFinder</h3>
			<div>
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="index.html">Home</a></li>
			        <li><a href="map.html">About</a></li>
			      </ul>
			    </div>           
            
          </a>
        </div>
      </div>
    </nav>

    <div class="map-outer-container">
      <div class="map-container">
        <div class="panel panel-primary map-controls">
          <div class="panel-heading">Park Criteria</div>
          <div class="panel-body">
            <form>
              <div class="form-group">
              <label for="">
                Location
              </label>
              <input type="text" name="locationName" class="form-control" placeholder="Country, City..." />
              </div>
              <div class="form-group">
                <label for="">
                  Maximum Distance From Location
                </label>
				<input id="toggleMaxDistance" type="checkbox">
				<div id="maxDistanceContainer" hidden=true>
                <input type="number" name="maxDistance" class="form-control" min="0" max="2000" step="5" value="0">
              </div>
            </div>
            <div class="form-group">
              <label>  Terrain Type</label>
              <input id="toggleTerrainType" type="checkbox">
              <div id="terrainTypeContainer" hidden=true>
                <input type="radio" name="terrainType" value="NoPreference" checked>   No Preference
                <br>
                <input type="radio" name="terrainType" value="Historic Sites">   Historic Sites
                <br>
                <input type="radio" name="terrainType" value="Lakes, Rivers, and Seashores">   Lakes, Rivers, and Seashores
                <br>
                <input type="radio" name="terrainType" value="Outdoors (Mountains, Forests, Trails)">   Outdoors (Mountains, Forests, Trails)
                <br>
                <input type="radio" name="terrainType" value="Parkways, Reserves, and Recreation Areas">   Parkways, Reserves, and Recreation Areas
              </div>
            </div>
            <div class="form-group">
              <label>  Size of Park</label>
              <input id="toggleParkSize" type="checkbox">
              <div id="parkSizeContainer" hidden=true>
                <input type="radio" name="parkSize" value="NoPreference" checked>   No Preference
                <br>
                <input type="radio" name="parkSize" value="Small">   Small
                <br>
                <input type="radio" name="parkSize" value="Medium">   Medium
                <br>
                <input type="radio" name="parkSize" value="Large">   Large
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
        <div class="map"></div>
        <!-- <div th:each="location : ${ranking}">
          <p th:text="location">null location</p>
          </div> -->
      </div>  
    </div>
    
    <div class="footer">
      <div class="container-fluid">
        Built with love from the Credera team AND Clarissa, Kristen, Jonathan, Will, and Felix
      </div>
    </div>

    <!-- build:js scripts/main.js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
</body>
</html>
