<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ranking Return</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
#map { 
	height: 100%;
	width:100%;
	border-radius: 5px;
	border: 1px solid lightgray;
	position: relative;
}
</style>
<!-- build:css styles/main.css -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/global.css">
<!-- endbuild -->

</head>
<body>
<body>
<!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div class="navbar header">
<a class="navbar-brand" href="/" ParkFinder>
<img alt="logo-svg" src="/images/ArrowheadLogo.png" style= "height: 2em;z-index: 100; position:relative; top:7px">
<h3 class="logo-text" style= "color: white; display: inline; margin-left: .5em;z-index: 100; position:absolute; top:10px; left:37px">ParkFinder</h3>
</a>
       <nav class="navbar navbar-default navbar-map" role="navigation">
         <div class="container-fluid">
           <div class="navbar-header">
            <b></b>
             </div>
             <div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="traveltips">Travel Tips</a></li>
    </ul>
  </div>
           </div>
       </nav>
     </div>

<div class="map-outer-container">
	<div class="map-container">
		<div class="panel panel-primary map-controls-left">
			<div class="panel-heading">Park Criteria</div>
			<div class="panel-body">
				<form action="/search">
<div class="form-group">
            <label for="">
              Location
            </label>
            <input type="text" name="locationName" class="form-control" placeholder="Country, City..." />
            </div>
            <div class="form-group">
              <label>Maximum Distance From Location</label>
              <div id="maxDistanceContainer">
                <input type="number" name="maxDistance" class="form-control" min="0" max="2000" step="5" value="0" placeholder="No Preference">
              </div>
            </div>
            <div class="form-group">
              <label>Terrain Type</label>
              <div id="terrainTypeContainer">
                <input type="radio" name="terrainType" value="NoPreference" checked> No Preference
                <br>
                <input type="radio" name="terrainType" value="Historic Sites"> Historic Sites
                <br>
                <input type="radio" name="terrainType" value="Lakes, Rivers, and Seashores"> Lakes, Rivers, and Seashores
                <br>
                <input type="radio" name="terrainType" value="Outdoors (Mountains, Forests, Trails)"> Outdoors (Mountains, Forests, Trails)
                <br>
                <input type="radio" name="terrainType" value="Parkways, Reserves, and Recreation Areas"> Parkways, Reserves, and Recreation Areas
                <br>
            </div>
           </div>
            <div class="form-group">
              <label>Size of Park</label>
              <div id="parkSizeContainer">
               <input type="radio" name="parkSize" value="NoPreference" checked> No Preference
               <br>
                <input type="radio" name="parkSize" value="Small"> Small
                <br>
                <input type="radio" name="parkSize" value="Medium"> Medium
                <br>
                <input type="radio" name="parkSize" value="Large"> Large
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
			</div>
		</div>

		<div class="panel panel-primary map-controls-right">
			<div class="panel-heading">Ranking Results</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<div id = "location_div" th:each="location: ${ranking}">	
						</div>
						<div id = "ranking"></div>
					</div>
				</form>

			</div>
		</div>
		<div id="map"></div>
	</div>  
</div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script th:inline = "javascript">
/*<![CDATA[*/
var ranking = /*[[${ranking}]]*/ ;
var startLocation = /*[[${gl}]]*/ ;
/*]]>*/
console.log(ranking);

 

function initMap() {
	var svgLocations = [];
	var locations = [];
	var parkInfo = [];
	var i = 0;
	if(startLocation != null){
		var startLatitude = startLocation.latitude;
		var startLongitude = startLocation.longitude;
	}
	else{
		var startLatitude = 0;
		var startLongitude = 0;
	}

	for (var j = 0; j < ranking.length && j < 10; j++){
		parkInfo = [];
		i++;
		parkInfo.push(ranking[j].name);
		parkInfo.push(ranking[j].latitude);
		parkInfo.push(ranking[j].longitude);
		parkInfo.push(ranking[j].distance);
		parkInfo.push(i);
		parkInfo.push(ranking[j].code);
		locations.push(parkInfo);
		svgLocations.push({
			name: ranking[j].name,
			rank: i,
			distance: ranking[j].distance,
			x: 23,
			y: i*40,
			id: i
		});
	}	
	console.log(locations);
	
	

	var map = new google.maps.Map(document.getElementById('map'), {
	zoom: 4,
center: new google.maps.LatLng(startLatitude, startLongitude),
mapTypeId: google.maps.MapTypeId.ROADMAP
});
	if (locations.length == 0) {
		svgLocations.push({
			name: "No results -  please try again",
			rank: 1,
			x: 23,
			y: 20
		});
var width = 280;
var height = 264;
 var svgContainer = d3.select("#ranking").append("svg")
	.attr("width", width)
	.attr("height", height);
var text = svgContainer.selectAll("text")
	.data(svgLocations)
	.enter();
text.append("text")
	.text(function(d){return d.name;})
	.attr("x", function (d) {return d.x;})
	.attr("y", function (d) {return d.y;})
	.attr("font-size", "12px");
text.append("text")
	.text(function(d){return d.rank + ") ";})
	.attr("x", function (d) {return 0;})
	.attr("y", function (d) {return d.y;})
	.attr("font-size", "14px");
		return;
	}
	

	var maxLat = locations[0][1];
	var minLat = locations[0][1];
	var maxLon = locations[0][2];
	var minLon = locations[0][2];
	
	for (i = 1; i < locations.length; i++) {  
		if (maxLat < locations[i][1]) {
			maxLat = locations[i][1];
		}
		if (minLat > locations[i][1]) {
			minLat = locations[i][1];
		}
		// Because longitude in the continental US is negative
		if (maxLon > locations[i][2]) {
			maxLon = locations[i][2];
		}
		if (minLon < locations[i][2]) {
			minLon = locations[i][2];
		}
	}

var place1 = new google.maps.LatLng(minLat, minLon);
var place2 = new google.maps.LatLng(maxLat, maxLon);

var bounds = new google.maps.LatLngBounds();
bounds.extend(place1);
bounds.extend(place2);
map.fitBounds(bounds);



var width = 280;
var height = 400;
 var svgContainer = d3.select("#ranking").append("svg")
.attr("width", width)
.attr("height", height);
var text = svgContainer.selectAll("text")
.data(svgLocations)
.enter();
text.append("text")
.text(function(d){return d.name;})
.attr("x", function (d) {return d.x;})
.attr("y", function (d) {return d.y - 20;})
.attr("font-size", "12px");
text.append("text")
.text(function(d){return d.distance.toFixed(2)+" miles";})
.attr("x", function (d) {return 10;})
.attr("y", function (d) {return d.y;})
.attr("font-size", "12px")
text.append("text")
.text(function(d){return d.rank + ") ";})
.attr("x", function (d) {return 0;})
.attr("y", function (d) {return d.y - 20;})
.attr("font-size", "14px");

var infowindow = new google.maps.InfoWindow();

var marker, i;

var firstPlace = "/images/GoldArrowhead3.png";
var secondPlace = "/images/SilverArrowhead2.png";
var thirdPlace = "/images/BronzeArrowhead2.png";
var originPlace = "/images/You-Are-Here-Star.png";
var originMarker = new google.maps.Marker({
    position: new google.maps.LatLng(startLatitude, startLongitude),
    map: map,
    icon: originPlace
});

for (i = 0; i < locations.length; i++) { 
	var image = "/images/Arrowhead"+(i+1)+".png"
	if (i == 0){
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map,
			icon: firstPlace
		});
		console.log("First "+ i);
	}
	else if (i == 1){
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map,
			icon: secondPlace
		});
	}
	else if (i == 2){
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map,
			icon: thirdPlace
		});
	}
	else{
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map,
			icon: image
		});
		console.log("else "+ i);
	}


google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
			infowindow.setContent(locations[i][0].link("http://www.nps.gov/"+locations[i][5]));
			infowindow.open(map, marker);
			}
			})(marker, i));
}


}


	
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5eYzsn2LHNmUASOhcvqVg6wzgn4KO4BI &callback=initMap">
</script>



<!-- build:js scripts/main.js -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
</body>
</html>

