<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ModelTest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->

  </head>
  <body>
  	<p th:text="${latitude}" />
   	<p th:text="${longitude}" />
   	<p th:text="${ranking}" />
  </body>
</html>