<!doctype html>
<style type = "text/css">
.container{
	position:relative; padding:0 0 0 55px;
}
#content { 
	border:1px solid #000; 
	width:100px; 
	height:50px;
    margin:5px 0 5px 0;
}

#logo-svg{
	width:20px;
	height: 25px;
}
</style>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ParkFinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	
      <div class="navbar header">
		<a class="navbar-brand" href="#" ParkFinder>
			<img alt="logo-svg" src="/images/ArrowheadLogo.png" style= "height: 2em;z-index: 100; position:relative; top:10px">
			<h3 class="logo-text" style= "color: white; display: inline; margin-left: .5em;z-index: 100; position:relative; top:10px">ParkFinder</h3>
		</a>
	        <nav class="navbar navbar-default navbar-map" role="navigation">
	          <div class="container-fluid">
	            <div class="navbar-header">
	
	             <b></b>
	              </div>
	              <div>
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="/">Home</a></li>
				        <li><a href="about">About</a></li>
				      </ul>
				    </div>
	
	
	            </div>
	        </nav>
     </div>
        

    
    <div class = "container">
	    <div class = "content">
	    	     <h1>Plan Your Visit </h1>

    <p>We are excited that you have chosen ParkFinder for your vacation planning needs! Our country's National Parks and Monuments preseve our natural and cultural resources, and are wonderful vacation destinations for the entire family. Below you will find some travel tips to help you plan your perfect vacation. </p>
    <h2>Before you go</h2>
    <ul>
        <li>If you're planning on visiting many National Parks and Monuments, consider getting an <a href="http://www.nps.gov/findapark/passes.htm">Annual Pass</a>. An $80 Annual Pass covers entrance fees and amenity fees at National Parks, Monuments, and Federal Recreational Lands. </li>
        <li>Consider planning your visit on a <a href="http://www.nps.gov/findapark/feefreeparks.htm">Free Entrance Day </a>, such as Martin Luther King Jr. Day, President's Day Weekend, or Veteran's Day. See the National Park Service website for details. </li>
        <li>If you'll be doing a lot of hiking on your vacation, consider investing in a trail map for your National Park. These maps can be found in outdoor or sporting goods stores, or some bookstores. </li>
        <li>If you will be travelling with children, consider checking out the <a href="http://www.nps.gov/kids/jrRangers.cfm"> Junior Rangers Program </a> </li>
        <li>Be sure to investigate <a href="http://www.nps.gov/pub_aff/plan_your_visit/lodging.htm"> lodging </a> before visiting. Many of the National Park Lodges fill up months in advance, and many campgrounds take reservations. </li> 
    </ul>
    <h2>During your vacation</h2>
    <ul>
        <li>Be sure to start your journey at the Visitor's Center! You can find maps, weather information, trail conditions, kids' exhibits, and much more at the National Park or Monument's Visitor's Center. </li>
        <li>Feel free to talk to Park Rangers - they can offer a wealth of knowledge about the National Parks and Monuments</li>
        <li>Check out any talks or special programs, such as Ranger-led hikes, on offer at the Visitor's Center</li>
        <li>Remember to leave no trace! Take nothing but pictures, and leave nothing but footprints.</li>
    </ul>
	    </div>
    </div>
    

    
    <div class="footer">
      <div class="container-fluid">
        Built with love from the Credera team AND Clarissa, Kristen, Jonathan, Will, and Felix
      </div>
    </div>

    <!-- build:js scripts/main.js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
</body>
</html>
